@model IEnumerable<PenjualanApp.Models.Produk>

<h1>Daftar Produk</h1>
<a asp-action="Create" class="btn btn-primary">Tambah Produk</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Nama Produk</th>
            <th>Harga</th>
            <th>Stok</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nama</td>
                <td>@item.Harga</td>
                <td>@item.Stok</td>
            </tr>
        }
    </tbody>
</table>
