@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Laporan";
}

<h1>Laporan</h1>
<p>Selamat datang di halaman laporan untuk Kasir.</p>
<div>
    <ul>

        <li><a href="@Url.Action("Index", "Laporan")">Laporan</a></li>
        <li><a href="@Url.Action("Index", "Transaksi")">Transaksi</a></li>
    </ul>
</div>
